<!DOCTYPE html>
<html lang="en">
    <%- include('./include/head.ejs') %> 
    
<body>
    <%- include('./include/navbar.ejs') %> <!--el menos indica que se esta insertando bloque para la vista-->
    hola tienes que registrarte
</body>
</html>