.header-text {
    margin-top: 60px;
}

.profile-section{
    background-color: #fafafa;
}

.uk-navbar-left, .uk-navbar-container{
    background-color: none !important;
    background: none !important;
}